/* Layout */
/* =========================================================================*/
/* Grid */
.row {
    margin: 0 auto;
    max-width: 400px;
    @media screen and (min-width: $break-medium) {
      max-width: 1000px;
    }
    padding-left: 0.5em;
    padding-right: 0.5em;
}
@media screen and (min-width: $break-medium) {
    .column {
        float: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
        width: 100%;
    }
    .column.half {
        width: 50%;
    }
    .column.quarter {
        width: 25%;
    }
    .column.sixth {
        width: 16.6666667%;
    }
    .column.eighth {
        width: 12.5%;
    }
    .column.tenth {
        width: 10%;
    }
    .column.twelfth {
        width: 8.33333334%;
    }
}
/* Container */
.container {
  padding-top:1em;
  padding-bottom: 3em;
}
.container--border {
  border-bottom: 1px solid $colour-light-grey;
}
/* Border box hack */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Clearfix */
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
