/* Typography */
/* =========================================================================*/
body {
    color: $colour-dark-grey;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    @media screen and (min-width: $break-large) {
      font-size: 130%;
    }
}
/* Heading Font Size */
.heading--xxlarge {
    font-size: 4em;
    font-weight: bold;
}
.heading--xlarge {
    font-size: 2.5em;
    font-weight: bold;
}
.heading--large {
    font-size: 2em;
    font-weight: bold;
}
.heading--medium {
    font-size: 1.3em;
    font-weight: bold;
}
.heading--small {
    font-size: 1.1em;
    font-weight: bold;
}
/* Font Weights */
.font-weight--light {
  font-weight: 300;
}
.font-weight--regular {
  font-weight: 400;
}
.font-weight--semi-bold {
  font-weight: 600;
}
.font-weight--bold {
  font-weight: 700;
}
/* Colours */
.font-color--white {
  color: $colour-white
}
/* Lists */
ul {
    padding-left: 0;
}
/* Links */
a {
  color: darken($colour-blue,10%);
}
