{% extends template %}

{% block title %}

<h2 class="heading--large">Introduction</h2>
<p>A front-end prototyping kit, based on the Leadin Brand Book.</p>
<p><a href="/documents/leadin_brand_book_official.pdf">Download Leadin Brand Book (PDF, 1.8MB)</a></p>

{% endblock %}

{% block content %}

<section>
  <div class="container container--border">
    <div class="row clearfix">
      <div class="column">
        <h2 class="heading--large">Logo</h2>
      </div>
    </div>
    <div class="row clearfix">
      <div class="column quarter">
        <div class="example">
          <img src="/images/brand/logo-white-on-orange.png" alt="White text on orange background logo">
        </div>
      </div>
      <div class="column quarter">
        <div class="example">
          <img src="/images/brand/logo-white-on-dark-grey.png" alt="White text on dark grey background logo">
        </div>
      </div>
      <div class="column quarter">
        <div class="example">
          <img src="/images/brand/logo-orange-on-white.png" alt="Orange text on white background logo">
        </div>
      </div>
      <div class="column quarter">
        <div class="example">
          <img src="/images/brand/logo-dark-grey-on-white.png" alt="Dark grey text on white background logo">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container container--border">
    <div class="row clearfix">
      <div class="column">
      <h2 class="heading--large">Typography</h2>
      <p>The Leadin font is Source Sans Pro.</p>
      <p><a href="https://www.google.com/fonts/specimen/Source+Sans+Pro">Download Source Sans Pro from Google Fonts</a>.</p>
      <h3>Headings</h3>
      <div class="example">
        <p class="heading--xlarge">Heading extra large</p>
      </div>
      <div class="example">
        <p class="heading--large">Heading large</p>
      </div>
      <div class="example">
        <p class="heading--medium">Heading medium</p>
      </div>
      <div class="example">
        <p class="heading--small">Heading small</p>
      </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="column">
      <h3>Weights</h3>
      </div>
    </div>
    <div class="row clearfix">
      <div class="column half">
        <div class="example font-weight--light">
          <p>Light 300</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖÂÀÁ
            <br>abcdefghijklmnopqrstuvwxyzåäöâàá
            <br>1234567890</p>
        </div>
      </div>
      <div class="column half">
        <div class="example font-weight--regular">
          <p>Regular 400</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖÂÀÁ
            <br>abcdefghijklmnopqrstuvwxyzåäöâàá
            <br>1234567890</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="column half">
        <div class="example font-weight--semi-bold">
          <p>Semi-bold 600</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖÂÀÁ
            <br>abcdefghijklmnopqrstuvwxyzåäöâàá
            <br>1234567890</p>
        </div>
      </div>
      <div class="column half">
        <div class="example font-weight--bold">
          <p>Bold 700</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖÂÀÁ
            <br>abcdefghijklmnopqrstuvwxyzåäöâàá
            <br>1234567890</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container container--border">
    <div class="row clearfix">
      <div class="column">
      <h2 class="heading--large">Colours</h2>
      </div>
    </div>
    <div class="row clearfix">
      <div class="column sixth">
        <div class="example swatch">
          <p>Orange</p>
          <div class="swatch__circle background--orange"></div>
          <p>#F8981D</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Light Grey</p>
          <div class="swatch__circle background--light-grey"></div>
          <p>#EBEEEE</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Medium Grey</p>
          <div class="swatch__circle background--medium-grey"></div>
          <p>#90999C</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Dark Grey</p>
          <div class="swatch__circle background--dark-grey"></div>
          <p>#314249</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Pink</p>
          <div class="swatch__circle background--pink"></div>
          <p>#F16183</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Peach</p>
          <div class="swatch__circle background--peach"></div>
          <p>#FE9F82</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="column sixth">
        <div class="example swatch">
          <p>Yellow</p>
          <div class="swatch__circle background--yellow"></div>
          <p>#EACD86</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Green</p>
          <div class="swatch__circle background--green"></div>
          <p>#5ED789</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Turquoise</p>
          <div class="swatch__circle background--turquoise"></div>
          <p>#6AD8CB</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Blue</p>
          <div class="swatch__circle background--blue"></div>
          <p>#3870AD</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Purple</p>
          <div class="swatch__circle background--purple"></div>
          <p>#9377DF</p>
        </div>
      </div>
      <div class="column sixth">
        <div class="example swatch">
          <p>Warm Grey</p>
          <div class="swatch__circle background--warm-grey"></div>
          <p>#898681</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}