<nav role="navigation">
  <div class="container header background--dark-grey">
    <div class="row clearfix">
      <div class="column">
        <h1 class="heading--xlarge header__title font-color--white font-weight--light">Leadin Prototyping Kit</h1>
      </div>
    </div>
  </div>
</nav>