<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/normalize.css" type="text/css">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block head %}
  {% endblock %}
  </head>
  
  <body>
    <header role="banner">
      {% include "templates/header.html" %}
      {% block header %}
      {% endblock %}
    </header>
    
    <main role="main" >
      <section>
        <div class="container background--light-grey">
          <div class="row clearfix">
            <div class="column">
              {% block title %}
              {% endblock %}
            </div>
          </div>
        </div>
      </section>
      {% block content %}
      {% endblock %}
    </main>

    <footer role="contentinfo">
      {% include "templates/footer.html" %}
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>